name: 'Release'
on:
  push:
    tags:
      - '**'
jobs:
  release:
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        node-version: ['24.x']
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v6'
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: 'actions/setup-node@v6'
        with:
          node-version: "${{ matrix.node-version }}"
          cache: 'npm'
      - name: 'Clean Install'
        run: 'npm ci'
      - name: 'Build'
        run: 'npm run build'
      - name: 'Archive Artifacts'
        run: 'zip ecolian-login-reminder.zip dist/* -r'
      - name: 'Create Release'
        uses: 'softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b'
        with:
          prerelease: true
          generate_release_notes: true
          files: 'ecolian-login-reminder.zip'
